@media only screen and (max-width: 560px) {
    #endButtons {
        gap: 100px;
    }

    #endButtons h3 {
        font-size: 25px;
    }

    #collectedCoins h4 {
        font-size: 25px;
    }

    #collectedCoins img {
        font-size: 25px;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 84vh !important;
        outline: none;
    }

    #playButtons {
        bottom:-3vh !important;
    }

    h1 {
        display: none;
    }

    .start-screen {
        min-width: 100%;
        min-height: 100%;
    }
    #canvas {
        margin-top:-5vh;
    }
}

.infobox {
    width: 300px;
    position: absolute;
    z-index: 1000;
    padding: 16px;
    background-color: lightgray;
    border: 4px solid rgba(0, 0, 0, 0.7);
    border-radius: 16px;
}

.infobox img {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-radius: 8px;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    height: max-content;
}

.close-container img {
    width: 30px;
    height: 30px;
    border: none;
}

.infobox h4 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.865);
    text-shadow: none;
    text-align: center;
    margin: -20px 8px 8px 8px;
}

.key-description {
    display: flex;
    align-items: center;
    margin: 8px;
}

.buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 16px;
}

.buttons img {
    width: 35px;
    height: 35px;
}

.buttonsLeft,
.buttonsRight {
    display: flex;
    gap: 30%;
    margin: 30px;
}

.buttonsSettings {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.buttons-in-game {
    position: static;
    display: flex;
    gap: 8px;
}

.buttons-in-game img {
    width: 30px;
    height: 30px;
}

.end-screen {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
}

#gameOver {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

#endButtons {
    position: absolute;
    bottom: 10px;
    gap: 150px;
}

#youWin {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.start-screen {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 101;
    max-height: 100vh;
    
    object-fit: cover;
}

@media only screen and (max-width: 800px){
    #gameOver {
        margin-top:-10vh !important;
        height:85vh !important;
    }

    .infobox {
        bottom:0vh !important;
    }
}

@media only screen and (max-width: 950px){
    #gameOver {
        margin-top:-10vh !important;
        height:85vh !important;
    }

    #endButtons {
        bottom:10vh !important;
    }
}

@media only screen and (max-width: 900px){
    #gameOver {
        height:85vh !important;
        margin-top:-10vh !important;
    }

    #endButtons {
        bottom:8vh !important;
    }

    .start-screen {
        margin-top:15vh;
    }

}

@media only screen and (min-width: 1367px){
    #playButtons {
        display: none !important;
    }
}


@media only screen and (max-width: 1367px){
    
    #canvas {
        width:100vw !important;
        height:100vh !important;
        margin-top:-5vh !important;
    }

    .FSIcon {
        display:none;
    }

    .content {
        width:100vw !important;
        height: 100vh !important;
        margin-top:-10vh !important;
    }

    .start-screen {
        margin-top:-5vh;
        background-position: 50% 50% !important;
        max-width:100% !important;
        height:auto !important;
    }

}

@media only screen and (max-width:1181px){
    .content {
        width:100vw !important;
        height: 100vh !important;
        margin-top:-14vh !important;
    }
}

@media only screen and (max-width:769px){
    .content {
        width:100vw !important;
        height: 100vh !important;
        margin-top:5vh !important;
    }
}

@media only screen and (max-width:897px){
    .content {
        width:100vw !important;
        height: 100vh !important;
        margin-top:5vh !important;
    }
}

@media only screen and (max-width:933px){
    .content {
        width:100vw !important;
        height: 100vh !important;
        margin-top:5vh !important;
    }
}

@media only screen and (max-width:1025px){
    .content {
        width:100vw !important;
        height: 100vh !important;
        margin-top:5vh !important;
    }
}

@media only screen and (max-width:983px){
    #playButtons {
        display:flex;
    }
}

@media only screen and (max-width: 700px){
    #gameOver {
        margin-top:-10vh !important;
        height:85vh !important;
    }
    .start-screen {
        margin-top:-5vh;
    }
}

@media only screen and (max-width: 1050px) {
    body {
        background-image: none;
        background-color: black;
        overflow-y:hidden;
    }

    .infobox {
        bottom:12%;
        width:28vw;
    }

    #gameOver {
        height: 70vh;
        
        width: 80vw;
        margin-top: -1vh;
    }

    #endButtons {
        bottom:9vh;
    }

    .content {
        align-items:start !important;
        margin-top:14vh;
    }

    .key-description p {
        font-size:16px;
    }

    .headline {
        display: none;
    }

    .start-screen {
        min-width: 100%;
        min-height: 100%;
    }

    h1 {
        font-size: smaller;
    }

    #playButtons {
        width:50% !important;
        margin-left:-5vw;
        bottom:1vh !important;
    }
    #playButtons img {
        height:25px !important;
        width:25px !important;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    font-family: zabars, Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 0;
}

.cp {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

canvas {
    display: block;
    outline: 10px solid rgba(71, 35, 0, 0.47);
    outline-style: hidden;
}

h1 {
    font-size: 60px;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.403), 0 0 1em rgba(0, 0, 0, 0.2), 0 0 0.2em rgba(0, 0, 0, 0.3);
}

h3 {
    font-size: 35px;
    color: #FFC501;
    text-shadow: 0px 0px 2px rgb(0 0 0 / 40%), 0 0 1em rgb(0 0 0 / 83%), 0 0 0.2em rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, color 0.2s ease;
}

h3:hover {
    transform: scale(1.1);
    color: #ffaf01;
}

h4 {
    font-size: 30px;
    color: #FFC501;
    text-shadow: 0px 0px 2px rgb(0 0 0 / 40%), 0 0 1em rgb(0 0 0 / 83%), 0 0 0.2em rgba(0, 0, 0, 0.3);
}

.start-screen h3 {
    font-size: 35px;
    color: #FFC501;
    text-shadow: 0px 0px 2px rgb(0 0 0 / 40%), 0 0 1em rgb(0 0 0 / 83%), 0 0 0.2em rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, color 0.2s ease;
    animation: pulse 2s infinite ease-in-out;
}

p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 12px;
}

.impressum {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.impressum:hover {
    font-size: 18px;
    transition: 0.3s;
}

.content {
    max-width: 100%;
    aspect-ratio: 1.5 / 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    z-index: 1;
    max-width:100%;
}

.rotate-phone-text {
    display: block;
    position: absolute;
    z-index: 10000;
    color: #ffaf01;
    background-color: black;
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    align-content: center;
}

.startButton {
    position: absolute;
    bottom: 0;
}

#playButtons {
    position: fixed;
    width: 48vw;
    bottom: 3vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 100;
}

#playButtons img {
    width: 40px;
    height: 40px;
    border: 2px solid #ffaf01;
    border-radius: 45px;
    background-color: lightgray;
    padding: 8px;
}

#collectedCoins {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -40%;
}

#collectedCoins img {
    width: 75px;
    height: 75px;
    margin: 15px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        color: #ffaf01;
    }

    50% {
        transform: scale(1.1);
        color: #FFC501;
    }

    100% {
        transform: scale(1);
        color: #ffaf01;
    }
}

#startButtons {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
